#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.appContainer{
  display: flex;
  width: 100%;
}

:root {
  --color-background-primary: #0e0f10;
  --color-background-secondary: #0772cb;
  --color-background-positive: #23ffb0;
  --color-text-primary:#f9f9fa;
  --color-text-secondary:#0565b7;

;
}
