.button,
.link {
  display: inline-block;
  align-self: flex-start;
  width: auto;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: var(--font-size-s);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color:transparent;
  border: 1px solid var(--color-text-secondary);
}

.button {
  color: var(--color-text-secondary);
}

.link {
  line-height: 1;
  color: var(--color-text-primary);
  text-decoration: none;
  border: 1px solid var(--color-text-secondary);
}